extends layout

block content
  h3 Welcome to the #{title}
  br 
  br
  p Type /search to search in the Digital Photo Organizer 
  p Type /add to add new elements to the Organizer

block foot 
  footer
  .navbar.navbar-expand-md.fixed-bottom.bg-primary.justify-content-center
    span.text-white This is a simple example of footer.
