extends layout

block content
  h1= title
  h2 Welcome to this page. The title is: #{title}
  h3 The subtitle passed as parameter is: #{subtitle}
  p The value of the variable named "key" is: #{key}
    p
    | For more info on pug, click 
    a(href='https://pugjs.org/api/getting-started.html') here
    | .